
 * {
       border: 0;
       margin: 0;
       box-sizing: border-box;
   }


.search{
border-radius: 5rem;
border-width: 1px;
margin-left: 4rem;
border: 1px solid   rgb(207, 205, 205);
display: flex;
width:100%;
padding: 0.7rem;
}
.searching{
border-radius: 5rem;
border-width: 1px;
border: 1px solid   rgb(207, 205, 205);
display: flex;
width:100%;
padding: 0.7rem;
}






.searching input{
    background-color: #FFFFFF;
    width: 100%;
    padding: 4px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 400;
}
.search input{
    background-color: #FCFCFF;
    width: 100%;
    padding: 4px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 400;
}


.search-icon{
    margin-right: 0.5rem;
    
    height: 24px;
    width: 24px;
}

.nav-icon{
   margin-right: 5rem; 
   height: 14.67px;
   width: 22px;
}

.dropdown-icon{
height: 15px;
width: 15px;
}

.product{
 max-width: 160px;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
/* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
background-color: white;
border-radius: 1rem;
padding: 10px;
}


.product img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin-bottom: 14px;
}



.product_name{
    color: #1b153d;
    font-size: 16px;
    font-weight: 600;
    line-height :18.78px;
    margin-bottom : 6px
}

.product_brand{
    color:#9095A6;
    font-weight: 500;
    font-size:12px;
    line-height:14px;
    letter-spacing: -0.24px;
    margin-bottom: 22px ;
}


.product_price{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.24px;
    color: #17A030;
    align-self: flex-end;
}


.product_container{
    display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        gap: 1.25rem;
        place-content: center;
        
}


@media only screen and (max-width: 450px) {
    .product_container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
    place-content: center;
  
}
}







